doctype 5
html(lang="en")
  head
    meta(charset="UTF-8")
    title Victor Hallberg
    link(rel="stylesheet", type="text/css", href="/assets/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    meta(property="og:title", content="Victor Hallberg")
    meta(property="og:type", content="profile")
    meta(property="fb:profile_id", content="victor.hallberg")
  body
    #wrap
      h1.title Victor Hallberg
      ul.links
        li: a.s-email(href="mailto:victor@hallberg.cc", title="Email") Email
        li: a.s-facebook(href="https://www.facebook.com/victor.hallberg", title="Facebook") Facebook
        li: a.s-linkedin(href="http://www.linkedin.com/in/victorha", title="LinkedIn") LinkedIn
        li: a.s-github(href="https://github.com/mogelbrod", title="GitHub") GitHub
