doctype 5
html(lang="en")
  head
    meta(charset="UTF-8")
    title Victor Hallberg
    link(rel="stylesheet", type="text/css", href="/main.css")
  body
    #wrap
      h1.title Victor Hallberg
      ul.links
        li: a(href="mailto:victor@hallberg.cc", title="Email") Email
        li: a(href="https://www.facebook.com/victor.hallberg", title="Facebook") Facebook
        li: a(href="http://www.linkedin.com/in/victorha", title="LinkedIn") LinkedIn
        li: a(href="https://github.com/mogelbrod", title="GitHub") GitHub
